@import url(reset.css);
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

body{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #222;
}

.icon-frame {
  /* border: 1px solid yellow; */
  width: 600px;
	display: flex;
	gap: 10px;
}
.icon-frame * {transition: 0.35s;}

.btn-icon {
	flex: 1;
	height: 70px;
	position: relative;
}
.btn-icon i {
	background-color: #000;
	font-size: 36px;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: gray;
	position: absolute;
	top: 0;
	left: 0;
	transform-origin: top;
}
.btn-icon .detail{
  position: absolute;
  top: -100%;
  width: 100%;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2em;
  color: #fff;
  transform: translateY(0) rotateX(90deg);
  transform-origin: bottom;
}
.btn-icon:nth-child(1) .detail {background-color: dodgerblue;}
.btn-icon:nth-child(2) .detail {background-color: crimson;}
.btn-icon:nth-child(3) .detail {background-color: yellowgreen;}

.btn-icon:hover i {
  transform: translateY(100%) rotateX(90deg);
}
.btn-icon:hover .detail {
  transform: translateY(100%);
}