@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{box-sizing: border-box;}

body{
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #222;
  font-size: 15px;
}

.container h1{
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  text-align: center;
  margin-bottom: 100px;
  text-decoration-line: underline;
	text-decoration-style: wavy;
	text-underline-offset: 15px;
	text-decoration-color: cornflowerblue;
	text-decoration-thickness: 4px;
}

.card-items{
  display: flex;
  gap: 20px;
}
.card-item{
  /* border: 1px solid red; */
  height: 400px;
  flex: 1;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: 0.35s;
}
.card-item:hover{
  transform: translateY(-15px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.card-item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-item .caption{
  position: absolute;
  bottom: -100px;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: 0.35s;
}
.card-item:hover .caption{bottom: 0;}

.card-item:nth-child(1) .caption{background: linear-gradient(to top, DeepSkyBlue, transparent);}
.card-item:nth-child(2) .caption{background: linear-gradient(to top, CadetBlue, transparent);}
.card-item:nth-child(3) .caption{background: linear-gradient(to top, MediumSlateBlue, transparent);}
.card-item:nth-child(4) .caption{background: linear-gradient(to top, yellowgreen, transparent);}

.caption h2{
  font-weight: normal;
  font-weight: 600;
}
.caption h2 span{
  display: block;
  font-size: 17px;
  color: gold;
}
.caption p{line-height: 18px;}
.caption .sns{margin: 15px 0;}
.caption .sns a{
  display: inline-block;
  width: 25px;
	height: 25px;
  line-height: 25px;
  border: 1px solid #fff;
  transition: 0.35s;
}
.caption .sns a:hover{
  background-color: #fff;
  color: #000;
}
.caption .btn-profile{
  background-color: #ee5253;
	padding: 7px;
	border-radius: 7px;
  opacity: 0.8;
  transition: 0.35s;
}
.caption .btn-profile:hover{opacity: 1;}