@import url(reset.css);

@font-face {
  font-family: 'KIMM_Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KIMM_Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

body{background-color: #b7e6f6;}

nav{
  height: 70px;
  background-color: #deae2c;
  border-bottom: 20px solid #ffce29;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  text-align: center;
}
.gnb{
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gnb li{
  /* border: 1px solid #000; */
  width: 120px;
  height: inherit;
  line-height: 70px;
  position: relative;
  overflow: hidden;
  transition: 0.5s;
}
.gnb li:before{  /* 캐릭터 */
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../image/kakao_charactor.png) no-repeat center top;
  transition: 0.5s;
}
.gnb li a{
  font-family: 'KIMM_Bold';
  color: #fff;
  background: rgba(0, 0, 0, 0);
  padding: 5px 12px;
  border-radius: 20px;
  position: relative; /* 위에 올라오기위해 사용 */
  transition: 0.5s;
}

/* Hover Effect */
/* 01-각 메뉴 전체영역 불투명한 배경색*/
.gnb li:hover{background: rgba(196,152,34,0.5);}

/* 02-글자뒤 둥근모서리의 불투명한 배경색*/
.gnb li:hover a{background: rgba(0, 0, 0, 0.3);}

/* 03-캐릭터는 아래에서 위로 올라옴*/
.gnb li:hover:before{top: 30px;}