@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

*{box-sizing: border-box;}
body{
  font-family: 'Montserrat', sans-serif;
  line-height: 26px;
  color: #222;
}

section {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.section-inner{
  /* border: 1px solid #000; */
  width: 1280px;
  display: flex;
}
.left-image{
  flex: 1;
  background: url(../image/cafe.jpg) no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
 .left-image:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top , rgb(221, 52, 153), transparent);
} 
.left-image h1{
  font-family: "Pacifico", cursive;
  font-weight: 700;
  font-weight: bold;
  color: #fff;
  font-size: 40px;
  text-transform: capitalize;
  text-shadow: 0 0 10px #000;
  opacity: 0.8;
  /* position: relative; */
}

.right-item{
  flex: 4;
  display: flex;
}
.right-item *{transition: 0.5s;}
.right-item li{
  height: 600px;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 20px;
	border-right: 1px solid #ddd;
  position: relative;
	cursor: pointer;
}
.right-item li:before{
  content: attr(data-title);
  position: absolute;
  top: 0;
  left: 20px;
	text-transform: uppercase;
  font-size: 14px;
}

.right-item li .number{
  /* border: 1px solid blue; */
  font-size: 180px;
  position: relative;
  transform: translateY(-120px);
}
.right-item li .number:after{
  content: '';
	position: absolute;
	height: 10px;
	width: 100%;
	background-color: #000;
	bottom: -90px;
	left: 0;
}
.right-item li .content{}
.right-item li .content h2{
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.right-item li .content p{
  margin: 10px 0;
}
.right-item li .content span{
  color: crimson; 
  font-weight: 500;
}

/* Hover Effect */
.right-item:hover li{flex: 1;}
.right-item li:hover{
  flex: 2;
  background-color: #f9f9f9;
}
.right-item li:hover .number{color: crimson;}
.right-item li:hover .number:after{background-color: crimson;}