@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

*{box-sizing: border-box;}
body{
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-inner{
  /* border: 1px solid #000; */
  width: 300px;
  aspect-ratio: 9/16;  /* 가로세로비율로 크기설정 */
  perspective: 1000px;
}
.card{
  width: inherit;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: 4s;
}
.card>div{
  position: absolute;
  width: inherit;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d; /* z축 튀어나오는걸 적용하기 위해 한번더 받아와야 함 */
}
.card>div h2 {
  font-size: 42px;
  text-transform: uppercase;
  transform: translateZ(25px); /* z축: 앞으로 튀어나오게 함 */
}
.card>div .outline {
  position: absolute;
	width: 85%;
	height: 90%;
  border: 10px solid #000;
  transform: translateZ(25px);
}
.card .front {
	background: url(../image/front.jpg) no-repeat;
	background-size: cover;
}
.card .back{
  background: url(../image/back.jpg) no-repeat;
	background-size: cover;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

.card-inner:hover .card{transform: rotateY(180deg);}