@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

*{box-sizing: border-box;}
body{
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-card-contanier{
  display: flex;
  column-gap: 30px;
}
.flip-card {
	/* border: 5px solid #000; */
	width: 400px;
	aspect-ratio: 9/14;
	perspective: 1300px;
}
.flip-card:hover .flip-card-inner {transform: rotateY(180deg);}
.flip-card-inner {
	width: inherit;
	height: 100%;
	position: relative;
	transition: 0.5s;
	transform-style: preserve-3d;
}
.flip-card-inner > div {
	width: inherit;
	height: 100%;
	position: absolute;
}
.flip-card-inner .front {}
.flip-card-inner .front img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.flip-card-inner .back {
	background-color: #eee;
	text-align: center;
	transform: rotateY(180deg);
	backface-visibility: hidden;
}
.flip-card-inner .back .thum {}
.flip-card-inner .back .thum img {
	width: 100%;
}
.flip-card-inner .back .desc {padding: 20px;}
.flip-card-inner .back .desc h2{margin-bottom: 10px;}
.flip-card-inner .back .desc h2 span{
	display: block;
	font-weight: normal;
	font-size: 14px;
	color: #666;
}
.flip-card-inner .back .desc h4{margin-bottom: 20px;}
.flip-card-inner .back .desc a {
  display: inline-block;
	text-transform: uppercase;
	background-color: #000;
	color: #fff;
	padding: 5px 15px;
	border-radius: 30px;
  margin-top: 2dvb;
}
