@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

/* *{box-sizing: border-box;} */
body{
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-item{
  border: 5px solid #000;
  width: 300px;
  height: 400px;
  perspective: 1000px;  /* (2)최상위 부모에 원근감설정 */
}
.card{
  position: relative;
  width: inherit;
  height: inherit;
  transform-style: preserve-3d;  /* (3)최상위부모의 원근감을 자식에게 전달 */
  transition: 0.5s;
}
.card-item:hover .card {transform: rotateY(180deg);}  /* (4)호버적용 */

.card>div{  /* 자손선택자(첫번째 div) */
  position: absolute;
  width: 100%;
  height: 100%;
}

.front img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.back{
  background-color: #222;
  padding: 20px;
	color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  /* (1)뒷면을 반전시키고 안보이게 함 */
  transform: rotateY(180deg); 
  backface-visibility: hidden;
}
.back .comment b{font-size: 32px;}
.back .comment .sns{margin: 20px 0;}
.back .comment .sns a {
  display: inline-block;
  border: 1px solid #fff;
	width: 25px;
	height: 25px;
  line-height: 25px;
}
.btn-view {
	background-color: yellowgreen;
	padding: 7px;
	border-radius: 5px;
  display: block;
}