@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');
@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css'); 

body{margin: 30px;}

/* 01 */
.headline:before{
  content: '😍';
  font-size: 56px;
  margin-right: 20px;
}
.headline:after{
  content: '#01';
  background-color: yellowgreen;
  color: #fff;
  font-size: 20px;
  border-radius: 5px;
  margin-left: 20px;
  padding: 0 5px;
}

/* 02-가상클래스는 기본적으로 inline 이다.*/
.coffee li:before{
  content: '\2615';
  font-size: 20px;
  margin-right: 5px;
}
.coffee li.soldout:after,
.coffee li.hit:after{
  margin-left: 5px;
  font-size: 12px;
  text-transform: uppercase;
  /* vertical-align: top; */
  transform: translateY(-10px);
  display: inline-block;  /*transform:속성은 inline에는 적용되지않은  */
}
.coffee li.soldout:after{
  content: 'soldout';
  color: royalblue;
}
.coffee li.hit:after{
  content: 'hit';
  color: red;
  font-weight: bold;
}

/* 03 */
.icon p:nth-of-type(1):before{
  content: '\e988';  
  font-family: 'Material Symbols Outlined';
  font-size: 36px;
  color: aqua;
}
.material-symbols-outlined{
  font-size: 36px;
  color: aqua;
}

.icon p:nth-of-type(2):before{
  content: '\f072';
  font-family: fontawesome;
  font-size: 45px;
  color: purple;
}
.fa-solid{
  font-size: 45px;
  color: purple;
}