@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body{
  /* background-image: url(../image/dark.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover; */

  background: url(../image/dark.jpg) no-repeat center/cover fixed;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
body:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right bottom, crimson, transparent);
  z-index: -1; /* z-index의 기본값은 0으로 -1은 0보다 더 아래쪽에 위치함 */
  /* 주의:잘못하면 콘텐츠까지 한꺼번에 밑으로 내려갈수 있음 */
}
.image-frame h1{
  font-family: "Raleway", sans-serif;
  color: #fff;
  font-size: 72px;
  /* position: relative; (1)relative의 우선순위를 이용한 방법*/
}