@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

body{
  font-family: "Montserrat", sans-serif;
  color: #222;
  font-size: 15px;
  font-weight: 300;
}

section{
  width: 1200px;
  margin: auto;
  display: flex;
}
.post{display: flex;}
.post:nth-child(odd) {flex-direction: column;} /* 홀수(2n+1) */
.post:nth-child(even) {flex-direction: column-reverse;} /* 짝수(2n) */

.image{
  width: 300px;
  height: 300px;
  overflow: hidden;
}
.image img{
  width: inherit;
  height: inherit;
  object-fit: cover;
  transition: 0.3s;
}
.image img:hover{transform: scale(1.2);}

.desc{
  background-color: royalblue;
  color: #fff;
  text-align: center;
  height: 300px;
  display: flex; /* 메인축의 기본방향은 가로 */
  flex-direction: column; /* 메인축이 세로방향으로 변경 */
  justify-content: center; /* 메인축이 세로로 변경되어서 수직정렬이 됨 */
  align-items: center; /* 메인축이 세로로 변경되어서 수평정렬이 됨 */
}
/* 
-메인축의 방향이 row(기본)일때는 justify-content가 수평정렬이고, align-items가 수직정렬이다.
-메인축의 방향 column(세로)일때는 메인축의 방향이 바뀌므로 justify-content가 수직정렬이고, align-items가 수평정렬이다. 
*/

.desc h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}