@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');

body{font-family: "Nanum Myeongjo", serif;}

.container{
  width: 800px;
  margin: auto;
}

header{
  /* border: 1px solid #000; */
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center; /* 메인축이 가로방향일때 수직정렬이고, 높이가 있어야 적용됨 */
}

header nav ul{
  display: flex;
  column-gap: 15px;
  color: #444;
}

/* a태그의 글자들은 반드시 a태그에 글자색을 적용해야 함
header nav ul li a{color:#444;}
하지만 color:inherit; 속성을 적용하면 부모에 넣어도 글자색이 변경가능  
*/

/* header nav ul li{margin: 0 20px;} 
header nav ul li:last-child{marign-right:0;}
->사이 간격뿐만 아니라 맨 앞이나 맨 끝에도 간격이 생김
*/

main{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
main img{
  width: 100%;
  height: auto;
}
main article{
  background-color: #fff;
  box-shadow: 3px 5px 15px rgba(0,0,0,0.2) ;
  padding: 15px;
}
main article:first-child{
  grid-column: span 3;
  /* display: flex; */
  display: grid;
  grid-template-columns: repeat(2,1fr);
  column-gap: 30px;
  font-size: 36px;
  font-weight: bold;
}
main article:nth-child(2){
  grid-area: span 2/span 2; /* 행/열 */
  font-size: 28px;
}