@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lobster&family=Poetsen+One&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poetsen+One&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


/* 공통 */
*{box-sizing: border-box;}
body {
  color: #333;
  display: flex;
  justify-content: center;
}
.container {
  width: 1000px;
  display: flex;
  flex-direction: column;
  row-gap: 60px;
  padding: 60px 0;
}
hr.divider {border-top: 1px solid #999;}  /* 중간가로선 */
h2{
  font-family: "Anton", sans-serif;
  font-weight: 300;
  font-size: 32px;
  margin-bottom: 60px;
}


/* Header 영역_____________________________ */
header {display: flex;}
.greeting {
  flex: 2;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  text-transform: capitalize;
}
.greeting a {border-bottom: 5px solid #0097e6;}
.greeting a:hover{color: #0097e6;}
.text-1 {
  font-family: "Lobster", sans-serif;
  font-weight: bold;
  font-size: 65px;
}
.text-2 {
  font-family: "Raleway", sans-serif;
  font-size: 28px;
  color: darkgrey;
}
.photo{flex: 1;}
.photo img {
  width: 100%;
  height: auto;
}


/* Intro 영역_____________________________ */
.intro {
  color: #555;
  font-size: 22px;
  font-weight: 500;
}


/* Skill 영역_____________________________ */
.skills {}
.skills .skill-list {
  display: flex;
  column-gap: 30px;
}
.skills .skill-list .skill{
  flex: 1;
  height: 200px;
  border: 1px solid #e5e5e5;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}


/* Career 영역_____________________________ */
.career-list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 0 20px;
}
.career-list li{
  border-bottom: 1px dotted #ccc;
  padding-bottom: 10px;
}
.career-list li strong {
  font-style: italic;
  font-size: 20px;
  margin-right: 50px;
}


/* Project 영역_____________________________ */
.projects{padding: 30px;}
.project {
  border: 1px solid #e5e5e5;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 30px;
  margin-bottom: 30px;
}
.project .title {
  font-weight: bold;
  color: crimson;
  margin-bottom: 20px;
}
.project .title .program{
  color: #999;
  font-weight: normal;
  font-size: 14px;
  margin-left: 20px;
}