@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

body{
  font-family: "Montserrat", sans-serif;
  color: #222;
  background-color: #ccc8;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 22px;
}

section{
  /* border: 1px solid #000; */
  width: 1300px;
  display: flex;
  column-gap: 70px;
}
.photo{
  width: 500px;
  height: 400px;
  position: relative;
}
.photo:before,
.photo:after{
  content: '';
  position: absolute; /* 가상클래스는 inline태그지만  position: absolute; 속성적용으로 inline-block으로 바뀜*/
  z-index: -1;
}
.photo:before{
  width: 200px;
  height: 200px;
  background-color: crimson;
  border-radius: 50%;
  top: -80px;
  left: -80px;
}
.photo:after{
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 40px solid purple;
  bottom: -100px;
  right: -100px;
}
.photo img{
  width: inherit;
  height: inherit;
  object-fit: cover;
  border-radius: 0 80px 0 80px;
}

.desc{
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  justify-content: center;
}
.desc p q b{
  color: crimson;
  font-size: 20px;
  text-transform: uppercase;
}
.desc .bottom{
  text-align: right;
  font-size: 15px;
  color: #000;
  font-weight: 500;
  font-style: italic;
}
.desc .bottom span{
  display: block;
  font-size: 14px;
  color: #666;
  font-style: normal;
}